.search-form {
  margin-bottom: 32px;
}

.search-form-type {
  margin-bottom: 10px;
}

.search-form-type label {
  margin-right: 20px;
  cursor: pointer;
}

.search-form-input {
  width: 260px;
}

.search-form-button {
  padding: 10px 16px;
}
