nav {
  background-color: #e9e9e9;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-item {
  list-style: none;
  display: inline-block;
}

.nav-link {
  color: #222;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.nav-link:hover {
  background-color: #dcdcdc;
}

.nav-item.ml-auto {
  margin-left: auto;
}
